@mixin measure ($w, $h) {
  width: $w;
  height: $h;
}

@media screen and (max-width: 768px) {
  .header {
    height: 385px;
    max-width: 100%;
    .top-header {
      padding-top: 20px;
      margin-right: 10px;
    }
    .logo-header {
      padding-top: 40px;
    }
    .logo {
      @include measure (144px, 43px);
    }
    .icon-header {
      font-size: 24px;
      padding: 35px 130px 0 130px;
    }
    .icon-name {
      padding: 0 90px 0 90px;
      font: {
        family: 'Roboto-Light';
        size: 24px;
      }
    }
    .name {
      text-align: center;
      width: 29%;
    }
    .slogan {
      font-size: 14px;
    }
    .button-header {
      padding-top: 5px;
    }
    .button {
      @include measure (144px,45px);
      font-size: 14px;
    }
  }
  .main {
    max-width: 100%;
    .section-main {
      padding: 50px 10px 50px 10px;
    }
    .slogan {
      font-size: 14px;
      padding-top: 15px;
    }
    .part-img {
      padding-top: 25px;
      .img-main {
        width: 100%;
        height: 238px;
      }
    }
    .part-text {
      padding-top: 25px;
      line-height: 24px;
       font-size: 13px;
    }
    .button-main {
      padding-top: 30px;
    }
    .button {
      @include measure (144px,45px);
      font-size: 14px;
    }
    .part-main {
      padding: 50px 10px 50px 10px;
    }
    .symbol-main {
      height: 322px;
    }
    .part-symbol {
      padding: 50px 10px 50px 10px;
    }
    .check-txt {
      padding-top: 40px;
    }
    .text-member {
      font-size: 13px;
    }
    .our-customer {
      height: 425px; 
    }
    .part-ourcustomer {
      padding: 5px 10px 0 10px;
    }
    .infor-ourcustomer {
      padding-top: 5px;
    }
    .user-picture {
      @include measure (77px, 80px);
    }
    .icon-left {
      font-size: 48px;
      margin-top: -20px;
    }
    .icon-right {
      font-size: 48px;
      margin-top: -40px;
    }
    .text-ourcustomer {
      margin-top: -18px;
      font-size: 13px;
      width: 450px;
      line-height: 20px;
    }
  }

  .footer {
    .section-footer {
      padding: 45px 0px 0 0px;
    }
    .logo-footer {
      @include measure(90px, 20px);
    }
    .top-footer {
      font-size: 11px;
      width: 86px;
    }
    .coppy-right {
      font-size: 10px;
      padding-top: 30px;
    }
    .contact-about {
      font-size: 10px;
      @include measure (76px, 40px);
    }
    .icon-footer { 
      font-size: 11px;
    }
  } 
  
}

@media screen and (max-width: 425px) {
  .header {
    height: 213px;
    max-width: 100%;
    .top-header {
      padding-top: 10px;
      margin-right: 10px;
    }
    .about-header {
      font-size: 10px;
    }
    .sign-header {
      font-size: 10px;
    }
    .logo-header {
      padding-top: 5px;
    }
    .logo {
      @include measure (96px, 29px);
    }
    .icon-header {
      font-size: 18px;
      padding: 2px 30px 0 30px;
    }
    .icon-name {
      padding: 0 20px 0 20px;
      font-size: 18px;
    }
    .name {
      text-align: center;
      width: 31%;
    }
    .slogan {
      font-size: 10px;
      padding-top: 2px;
    }
    .button-header {
      padding-top: 1px;
    }
    .button {
      @include measure (100px,30px);;
      font-size: 12px;
    }
  }
  .main {
    max-width: 100%;
    .section-main {
      padding: 30px 10px 30px 10px;
    }
    .bookmark {
      font-size: 20px;
    }
    .title {
      padding-left: 10px;
      margin-top: -5px;
      font-size: 24px;
    }
    .slogan {
      font-size: 11px;
      padding-top: 5px;
    }
    .part-img {
      padding-top: 10px;
      .img-main {
        width: 100%;
        height: 308px;
      }
    }
    .part-text {
      line-height: 21px;
      padding-top: 20px;
    }
    .button-main {
      padding-top: 20px;
    }
    .button {
      @include measure (100px,30px);;
      font-size: 12px;
    }
    .part-main {
      padding: 30px 10px 30px 10px;
    }
    .symbol-main {
      height: 296px;
    }
    .part-symbol {
      padding: 30px 10 30px 10;
    }
    .customer-slide {
      padding: 0 40% 0 40%;
      padding-top: 20px;
    } 
    .img-slide {
      border: 0.5px solid #C0C0C0;
      border-radius: 100%;
      @include measure (10px, 10px);
      background-color: #C0C0C0;
    }
    .next-slide {
      border: 0.5px solid #C0C0C0;
      border-radius: 100%;
      @include measure (10px, 10px);
    }
    .check-txt {
      padding-top: 20px;
    }
    .our-customer {
      height: 325px; 
    }
    .part-ourcustomer {
      padding: 10px ;
    }
    .top-our {
      font-size: 24px;
    }
    .infor-ourcustomer {
      padding-top: 5px;
    }
    .user-picture {
      @include measure (77px, 80px);
    }
    .customer-slide {
      padding-top: 5px;
    }
    .icon-left {
      font-size: 36px;
      margin-top: -25px;
    }
    .icon-right {
      font-size: 36px;
      margin-top: -90px;
    }
    .text-ourcustomer {
      margin-top: -40px;
      font-size: 10px;
      width: 400px;
      line-height: 14px;
    }
  }
  .footer {
    height: 209px;
    .section-footer {
      padding: 24px 10px 24px 10px;
    }
    .img-hapo {
      @include measure (96px, 24px);
    }
    .top-footer {
      font-size: 11px;
    }
    .contact-us {
      font-size: 10px;
    }
    .icon-footer { 
      font-size: 13px;
      padding-top: 50px;
      width: 40%;
      padding-top: 80px;
    }
    .coppy-right {
      padding-top: 80px;
      margin-left: 40px;
      font-size: 10px;
    }
  }
}