@media screen and (max-width: 768px) {
  .header {
    height: 385px;
    max-width: 100%; }
    .header .top-header {
      padding-top: 20px;
      margin-right: 10px; }
    .header .logo-header {
      padding-top: 40px; }
    .header .logo {
      width: 144px;
      height: 43px; }
    .header .icon-header {
      font-size: 24px;
      padding: 35px 130px 0 130px; }
    .header .icon-name {
      padding: 0 90px 0 90px;
      font-family: 'Roboto-Light';
      font-size: 24px; }
    .header .name {
      text-align: center;
      width: 29%; }
    .header .slogan {
      font-size: 14px; }
    .header .button-header {
      padding-top: 5px; }
    .header .button {
      width: 144px;
      height: 45px;
      font-size: 14px; }

  .main {
    max-width: 100%; }
    .main .section-main {
      padding: 50px 10px 50px 10px; }
    .main .slogan {
      font-size: 14px;
      padding-top: 15px; }
    .main .part-img {
      padding-top: 25px; }
      .main .part-img .img-main {
        width: 100%;
        height: 238px; }
    .main .part-text {
      padding-top: 25px;
      line-height: 24px;
      font-size: 13px; }
    .main .button-main {
      padding-top: 30px; }
    .main .button {
      width: 144px;
      height: 45px;
      font-size: 14px; }
    .main .part-main {
      padding: 50px 10px 50px 10px; }
    .main .symbol-main {
      height: 322px; }
    .main .part-symbol {
      padding: 50px 10px 50px 10px; }
    .main .check-txt {
      padding-top: 40px; }
    .main .text-member {
      font-size: 13px; }
    .main .our-customer {
      height: 425px; }
    .main .part-ourcustomer {
      padding: 5px 10px 0 10px; }
    .main .infor-ourcustomer {
      padding-top: 5px; }
    .main .user-picture {
      width: 77px;
      height: 80px; }
    .main .icon-left {
      font-size: 48px;
      margin-top: -20px; }
    .main .icon-right {
      font-size: 48px;
      margin-top: -40px; }
    .main .text-ourcustomer {
      margin-top: -18px;
      font-size: 13px;
      width: 450px;
      line-height: 20px; }

  .footer {
    height: 179px; }
    .footer .section-footer {
      padding: 45px 10px 0 10px; }
    .footer .img-hapo {
      width: 90px;
      height: 20px; }
    .footer .coppy-right {
      padding-left: 5px; }
    .footer .contact-about {
      margin-left: -20px;
      width: 80px;
      height: 40px; } }
@media screen and (max-width: 425px) {
  .header {
    height: 213px;
    max-width: 100%; }
    .header .top-header {
      padding-top: 10px;
      margin-right: 10px; }
    .header .about-header {
      font-size: 10px; }
    .header .sign-header {
      font-size: 10px; }
    .header .logo-header {
      padding-top: 5px; }
    .header .logo {
      width: 96px;
      height: 29px; }
    .header .icon-header {
      font-size: 18px;
      padding: 2px 30px 0 30px; }
    .header .icon-name {
      padding: 0 20px 0 20px;
      font-size: 18px; }
    .header .name {
      text-align: center;
      width: 31%; }
    .header .slogan {
      font-size: 10px;
      padding-top: 2px; }
    .header .button-header {
      padding-top: 1px; }
    .header .button {
      width: 100px;
      height: 30px;
      font-size: 12px; }

  .main {
    max-width: 100%; }
    .main .section-main {
      padding: 30px 10px 30px 10px; }
    .main .bookmark {
      font-size: 20px; }
    .main .title {
      padding-left: 10px;
      margin-top: -5px;
      font-size: 24px; }
    .main .slogan {
      font-size: 11px;
      padding-top: 5px; }
    .main .part-img {
      padding-top: 10px; }
      .main .part-img .img-main {
        width: 100%;
        height: 308px; }
    .main .part-text {
      line-height: 21px;
      padding-top: 20px; }
    .main .button-main {
      padding-top: 20px; }
    .main .button {
      width: 100px;
      height: 30px;
      font-size: 12px; }
    .main .part-main {
      padding: 30px 10px 30px 10px; }
    .main .symbol-main {
      height: 296px; }
    .main .part-symbol {
      padding: 30px 10 30px 10; }
    .main .customer-slide {
      padding: 0 40% 0 40%;
      padding-top: 20px; }
    .main .img-slide {
      border: 0.5px solid #C0C0C0;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      background-color: #C0C0C0; }
    .main .next-slide {
      border: 0.5px solid #C0C0C0;
      border-radius: 100%;
      width: 10px;
      height: 10px; }
    .main .check-txt {
      padding-top: 20px; }
    .main .our-customer {
      height: 325px; }
    .main .part-ourcustomer {
      padding: 10px; }
    .main .top-our {
      font-size: 24px; }
    .main .infor-ourcustomer {
      padding-top: 5px; }
    .main .user-picture {
      width: 77px;
      height: 80px; }
    .main .customer-slide {
      padding-top: 5px; }
    .main .icon-left {
      font-size: 36px;
      margin-top: -25px; }
    .main .icon-right {
      font-size: 36px;
      margin-top: -90px; }
    .main .text-ourcustomer {
      margin-top: -40px;
      font-size: 10px;
      width: 400px;
      line-height: 14px; }

  .footer {
    height: 209px; }
    .footer .section-footer {
      padding: 20px 10px 20px 10px; }
      .footer .section-footer .img-hapo {
        width: 96px;
        height: 24px; }
    .footer .img-hapo {
      width: 96px;
      height: 24px; }
    .footer .top-footer {
      padding-top: 25px;
      width: 96px;
      height: 24px;
      font-size: 11px; } }

/*# sourceMappingURL=responsive.css.map */
