body {
  margin: 0;
  padding: 0; }

.header {
  background-image: url(./img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  max-width: 100%; }
  .header .top-header {
    padding-top: 40px;
    margin-right: 180px; }
  .header .about-header {
    text-transform: uppercase;
    color: #39474E;
    padding-right: 20px;
    font-size: 12x;
    font-family: "Roboto-Regular"; }
  .header .sign-header {
    border: 2px solid #8BC34A;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    color: #8BC34A;
    font-size: 12x;
    font-family: "Roboto-Regular"; }
  .header .logo-header {
    padding-top: 110px; }
  .header .logo {
    width: 250px;
    height: 70px; }
  .header .icon-header {
    color: #283238;
    font-size: 48px;
    padding: 15px 330px 0 330px; }
  .header .icon-name {
    color: #283238;
    padding: 0 300px 0 300px;
    font-family: 'Roboto-Light';
    font-size: 36px; }
  .header .name {
    text-align: center;
    width: 31%; }
  .header .slogan {
    color: #283238;
    padding-top: 30px;
    font-size: 18px;
    font-family: 'Roboto-Italic'; }
  .header .button-header {
    padding-top: 30px; }
  .header .button {
    border-radius: 100px;
    border: 1px;
    color: white;
    text-transform: uppercase;
    background-color: #429321;
    background-image: linear-gradient(to right, #429321, #B4EC51);
    width: 195px;
    height: 50px;
    font-size: 14px; }

.main {
  max-width: 100%; }
  .main .section-main {
    padding: 100px 18% 100px 18%;
    box-shadow: 0px 10px 10px -5px #CCCCCC; }
  .main .bookmark {
    font-size: 30px; }
  .main .title {
    font-size: 36px;
    color: #444444;
    margin-top: -5px;
    padding-left: 15px; }
  .main .slogan {
    color: #283238;
    padding-top: 15px;
    font-size: 18px;
    font-family: 'Roboto-Italic'; }
  .main .part-img {
    padding-top: 40px; }
    .main .part-img .img-main {
      width: 100%;
      height: 371px; }
  .main .part-text {
    padding-top: 40px;
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    font-family: 'Roboto-Regular'; }
  .main .button-main {
    padding-top: 50px; }
  .main .button {
    border-radius: 100px;
    border: 1px;
    color: white;
    text-transform: uppercase;
    background-color: #429321;
    background-image: linear-gradient(to right, #429321, #B4EC51);
    width: 195px;
    height: 50px;
    font-size: 14px; }
  .main .part-main {
    padding: 100px 18% 100px 18%; }
  .main .symbol-main {
    background-color: #429321;
    background-image: linear-gradient(to right, #429321, #B4EC51);
    height: 322px; }
  .main .part-symbol {
    padding: 70px 18% 0 18%; }
  .main .ti-icon {
    border: 2.5px solid white;
    border-radius: 100%;
    width: 107px;
    height: 107px;
    color: white;
    font-size: 36px;
    padding-top: 16px; }
  .main .number {
    background-color: #7CB342;
    border: 2.5px solid white;
    border-radius: 100%;
    width: 43px;
    height: 43px;
    margin-top: -30px;
    font-size: 24px;
    color: white;
    margin-left: 30px; }
  .main .name-symbol {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    padding-top: 12px;
    line-height: 5px; }
  .main .check-txt {
    padding-top: 100px; }
  .main .ti-box {
    font-size: 18px;
    color: #8BC34A; }
  .main .text-member {
    padding-left: 15px;
    text-align: justify;
    color: #283238;
    font-size: 14px;
    font-family: 'Roboto-Regular'; }
  .main .our-customer {
    background-image: url(./img/rectangle.png);
    height: 544px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .main .part-ourcustomer {
    padding: 50px 18% 0 18%; }
  .main .top-our {
    color: #ffffff;
    font-size: 48px;
    font-family: 'Roboto-Light'; }
  .main .infor-ourcustomer {
    padding-top: 38px; }
  .main .user-picture {
    width: 79px;
    height: 80px; }
  .main .picture-name {
    color: #ffffff;
    padding-top: 10px;
    line-height: 2px;
    font-size: 13px;
    font-family: 'Roboto-Regular'; }
  .main .customer-slide {
    padding: 0 45% 0 45%;
    padding-top: 20px; }
  .main .img-slide {
    border: 0.5px solid #C0C0C0;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #C0C0C0; }
  .main .next-slide {
    border: 0.5px solid #C0C0C0;
    border-radius: 100%;
    width: 10px;
    height: 10px; }
  .main .icon-left {
    font-size: 55px;
    color: #5b5b5c; }
  .main .icon-right {
    font-size: 55px;
    color: #5b5b5c;
    padding-top: 130px; }
  .main .text-ourcustomer {
    color: #d0d8dc;
    font-size: 15px;
    text-align: justify;
    width: 580px;
    line-height: 35px;
    padding-top: 55px; }

.footer {
  height: 179px;
  background-color: #39474E;
  width: 100%; }
  .footer .section-footer {
    padding: 45px 18% 0 18%; }
  .footer .img-hapo {
    width: 96px;
    height: 29px; }
  .footer .top-footer {
    width: 96px;
    height: 24px;
    color: #8BC34A;
    text-transform: uppercase;
    font-size: 12px; }
  .footer .coppy-right {
    color: white;
    font-size: 10px;
    padding-top: 30px;
    padding-left: 5px;
    width: 113px; }
  .footer .contact-about {
    font-size: 10px;
    text-align: justify;
    width: 80px;
    height: 40px;
    color: white; }
  .footer .icon-footer {
    width: 150px;
    margin-left: -30px;
    color: #8BC34A;
    font-size: 12px;
    padding-top: 30px; }

/*# sourceMappingURL=style.css.map */
